/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
a{
    text-decoration: none;
    color: currentColor;
}

img{
    display: block;
    width: 100%;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
}

.ai-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

/* font */
body{
    font-family: "Montserrat", sans-serif;
}

#web-app{
    width: 100%;
    height: 100vh;
}

/* sidebar */ 
#sidebar{
    background-color: rgb(0, 0, 0);
    color: rgb(70, 70, 70);
    flex-direction: column;
    height: calc(100vh - 90px);
    overflow: hidden;
    width: 50px;
  }
  
.logo{
    margin-bottom: 10px;
    padding: 5px 10px;
}

#sidebar .menu .icon{
    margin-bottom: 10px;
}
  
#sidebar .createplay{
    margin-top: 15px;
}
  
#sidebar .createplay strong{
    color: white;
}
  
#sidebar .createplay .flex{
    margin-top: 20px;
    margin-bottom: 20px;
}
  
#sidebar .menu li .icon,
#sidebar .createplay .icon{
    margin-right: 5px;
    width: 30px;
    opacity: 0.6;
}

#sidebar .menu li .icon:hover,
#sidebar .createplay .icon:hover{
    opacity: 1;
}

#sidebar .menu li:hover .hide,
#sidebar .account .flex:not(.profile):hover .hide {
    color: white;
}
  
#sidebar .menu .special .hide{
    color: white;
}
  
#sidebar .hide{
    display: none;
}
  
#sidebar .createplay .flex:hover,
#sidebar .createplay .flex:hover .icon i{
    color: white;
}
  
#sidebar .createplay .icon i{
    color: rgb(210, 210, 210);
    font-size: 45px;
}
  
#sidebar .createplay .hide{
    padding-left: 15px;
}
  
#sidebar .list li:hover{
    color: white;
}
  
#sidebar .list{
    min-height: 80px;
    overflow-y: auto;
}
  
#sidebar .list ul > *{
    margin-bottom: 20px;
}
  
#sidebar .account{
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
}
  
#sidebar .account .flex{
    justify-content: center;
}
  
#sidebar .account .icon.small{
    margin-bottom: 20px;
    width: 20px;
}
  
#sidebar .account hr.hide{
    border: 1px solid rgb(70, 70, 70);
    border-top: none;
    margin: 15px 0;
    margin-right: 20px;
}
  
#sidebar .account .profile{
    color: rgb(70, 70, 70);
}
  
#sidebar .account .profile img{
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    height: 30px;
    object-fit: contain;
    width: 30px;
}
  
#sidebar .account .profile .hide{
    cursor: text;
    font-weight: 700;
    margin-left: 15px;
}

#sidebar .auto{
    margin-top: 7px;
}

#sidebar ul li:hover .icon{
    opacity: 1;
}

#sidebar ul li:hover a{
    color: white;
}

/* big */

#big{
    background-color: rgb(20, 25, 34);
    width: calc(100% - 50px);
}

/* header */

#big .opacity{
    align-items: center;
    background-color: rgb(8, 11, 18);
    height: 90px;
    justify-content: flex-end;
    position: fixed;
    left: 50px;
    opacity: 0.7;
    right: 0;
    top: 0;
    z-index: 1;
}

#big button{
    background-color: rgb(8, 11, 18);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    margin-right: 20px;
    padding: 15px 30px;
  }

#big button:hover{
    transform: scale(1.2);
}

.special{
    position: relative;
}

#focus #menutwo ul li.special:before{
    border-bottom: 3px solid rgb(173, 255, 47);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    content: "";
    width: 40%;
}

/* focus */

#focus{
    overflow-y: auto;
    height: calc(100vh - 90px);
    padding: 0 20px 0 20px;
}

#big #menutwo{
    color: rgb(70, 70, 70);
    margin: 100px 0 50px;
}

#big #menutwo ul{
    gap: 30px;
    justify-content: center;
}

#big #menutwo ul li{
    padding: 4px 0;
}

#big #menutwo ul li:hover a{
    color: white;
}

#big h2,
#big h4{
  color: white;
}

#big h2{
  font-size: 30px;
}

#big h4{
  font-size: 20px;
}

#big h5{
  color: rgb(70, 70, 70);
}

#big section{
  text-align: center;
}

#big section .album{
  position: relative;
}

#big section .hover:hover img{
  background-color: black;
  opacity: 0.6;
}

#big section .hover .play{
  color: white;
  font-size: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#big section .hover:hover .play{
  display: block;
}
 
#big h2,
#big #foryou h5,
#big #popular h5{
  text-align: left;
}

#big section ul{
  gap: 12px;
}

#big section ul li{
  margin: 30px 0 45px;
  width: calc(50% - 12px);
}

#big section ul li .title{
  margin-top: 20px;
}

#big section .artist{
  margin-top: 15px;
}

#big #popular img{
  border-radius: 50%;
}

/* footer */
#footer{
    background-color: rgb(40, 40, 40);
    color: white;
    height: 90px;
    z-index: 1;
}

/* left */

#footer .f-left{
    padding-left: 9px;
}

footer .f-left, .f-center, .f-right{
    width: calc(100% / 3 - 3px);
}

footer .f-left .album{
    height: 40px;
    width: 40px;
    margin-right: 6px;
}

#footer .title{
    font-size: 13px;
    margin-right: 9px;
}
  
#footer .f-left .title,
#footer .f-left .fave{
    color: rgb(100, 100, 100);
}
  
#footer .title:hover{
    text-decoration: underline;
}
  
#footer .f-left .title:hover,
#footer .f-left .fave i:hover{
    color: white;
}

/* center */

#footer .f-center{
    justify-content: center;
    padding: 0 7px;
}

#footer .controls{
    justify-content: center;
    column-gap: 2.5%;
}

#footer .bartouch .remaining{
  background-color: rgb(100, 100, 100);
  width: 100%;
}

#footer .bartouch{
    height: 5px;
    width: 100%;
}

#footer .bartouch .played, .remaining{
  border-radius: 5px;
}

#footer .bartouch .played{
  background-color: white;
  position: relative;
  left: 5px;
  width: 20%;
}

#footer .bartouch{
  position: relative;
}

#footer .bartouch:active{
  cursor: pointer;
}

#footer .f-center .bar .fa-circle:active{
    transform: scale(1.2);
}

#footer .bartouch:hover .played{
  background-color: rgb(173, 255, 47);
}

#footer .bartouch .dot{
  display: none;
  left: 16%;
  position: absolute;
  top: -7px;
}

#footer .bartouch:hover .dot{
  display: block;
}
  
#footer .f-center .bar .timer{
    margin-left: 5px;
}

/* right */

#footer .f-right{
    justify-content: flex-end;
}
 
#footer .volume span{
    margin-left: 5px;
}

#footer .barvolume .volumemax{
    background-color: rgb(100, 100, 100);
    width: 50%;
}
  
#footer .barvolume{
      height: 5px;
      width: 35%;
}
  
#footer .barvolume .volumeset, .volumemax{
    border-radius: 5px;
}
  
#footer .barvolume .volumeset{
    background-color: white;
    position: relative;
    left: 5px;
    width: 200px;
}
  
#footer .barvolume{
    position: relative;
}

#footer .barvolume .dotvol{
    display: none;
    left: 25%;
    position: absolute;
    top: -7px;
}
  
#footer .barvolume:hover .dotvol{
    display: block;
}

#footer .barvolume:active{
    cursor: pointer;
}
 
#footer .f-right .barvolume .fa-circle:active{
      transform: scale(1.2);
}
  
#footer .barvolume:hover .volumeset{
    background-color: rgb(173, 255, 47);
}

#footer .barvolume{
    display: none;
}

/* media query */
  
/* min 490px */
@media screen and (min-width: 490px){
  #sidebar{
      align-items: flex-start;
      padding-left: 20px;
      width: 230px;
    }
  
    #sidebar .logo{
      padding: 20px 0;
      width: 70%;
    }
  
    #sidebar .menu li:before{
      margin-right: 8px;
    }
  
    #sidebar .view{
      display: none;
    }
  
    #sidebar .hide{
      display: block;
    }
  
    #sidebar .menu .relative{
      position: relative;
    }
    
    #sidebar .menu .special:before{
      border-left: 3px solid rgb(173, 255, 47);
      content: "";
      height: 100%;
      left: -20px;
      position: absolute;
    }

    #sidebar .account .flex{
      justify-content: flex-start;
    }
  
    #sidebar .account .icon.small{
      margin-bottom: 0;
      margin-right: 10px;
    }

    #big{
        width: calc(100% - 230px);
    }
    
    #big .opacity{
        left: 230px;
    }

    #footer .barvolume{
        display: flex;
    }
}

/* min 710px */
@media screen and (min-width: 710px){
    #big section ul li{
        width: calc(100% / 4 - 12px);
    }

    #footer img{
        height: 55px;
        width: 55px;
    }

    #footer .album{
        margin-right: 25px;
    }

    #footer .fave{
        gap: 10px;
    }

    #footer .fave{
        display: flex;
        margin-left: 20px;
    }

    #footer .song, .controls, .volume{
        font-size: 1.2rem;
    }

    #footer .song a{
        font-size: 0.7rem;
    }
}

/* min 960px */
@media screen and (min-width: 960px){
    #big section ul{
        gap: 14px;
    }

    #big section ul li{
        width: calc(100% / 6 - 12px);
    }
}